[2015-01-19 23:36] stevevance opened #1 "README file needs more links"
The README needs links to people's personal GitHub profiles, organizations' websites, and other links where appropriate.

[2015-01-21 02:16] MMenninger opened #2 "need geojson"
this file needs a geojson

[2015-01-21 02:20] MMenninger commented on #2
also - confirm projection on all files

[2015-01-22 04:05] stevevance commented on #2
Which file, @MMenninger?

[2015-01-22 04:09] MMenninger commented on #2
i just made them all. figuring out how to upload.

[2015-01-22 04:46] MMenninger commented on #2
Posted the files on dropbox. Will check in tomorrow to see if they work and try to see if I can upload.

[2015-01-22 04:46] #2 closed

[2015-01-23 20:24] stevevance commented on #2
Files are here:
https://github.com/MMenninger/QGISwork

[2015-01-26 20:19] derekeder opened #6 "add legend"
![screen shot 2015-01-26 at 2 17 27 pm](https://cloud.githubusercontent.com/assets/919583/5907634/1723d7f6-a566-11e4-9b0c-e193876270d6.png)
At first glance, its unclear what I'm looking at.

Include a legend for your default layers: population density and bike lanes. What do the colors mean?

[2015-02-04 03:01] stevevance opened #7 "How many jobs are accessible by bike from certain neighborhoods in 45 minutes?"
Tristan has an instance of OpenTripPlanner that can calculate distance between homes and jobs and incorporate the locations of bike lanes to understand the bike-ability of that route.

We want to come up with a "quick hit" headline of one stat that attracts people's attention, more minds, more critical thinking on how to develop a model that tests our hypothesis.

[2015-02-04 03:06] stevevance opened #8 "Use Turf.js to develop a function that counts the number of grocery stores within 2 miles"
Turf.js is a JavaScript library for Leaflet that does GIS functions and geospatial analysis within the user's browser. The implication is that we don't have to pre-process so many statistics.

For example, in this issue, it would be useful to allow the user to right-click on the map and have the app tell the user how many grocery stores are within a certain distance.

[2015-02-04 03:09] thcrock commented on #7
My forked repo for OTP is here: https://github.com/thcrock/cta-otp

[2015-02-04 05:41] stevevance opened #9 "How many people in Chicago live within 0.5 miles of a bike lane?"
The City of Chicago established a policy in 2012, with the Streets for Cycle Plan 2020, to install a bike lane within 0.5 miles of all residents by 2020.

We want to come up with a "quick hit" headline of one stat that attracts people's attention, more minds, more critical thinking on how to develop a model that tests our hypothesis (that bike lane distribution or access is inequitable).

How many

[2015-02-04 05:48] Oboi opened #10 "How can this Divvy research assist our project?"
"Where in Chicago Would Benefit From A Divvy Station?" by DePaul University student Ryan Adriatico assesses public transit deserts in Chicago and identifies which neighborhoods would benefit from the exansion of the Divvy bike share program.

His map can be found here: http://via.library.depaul.edu/mom/20/

There is a gallery of other student maps here: http://via.library.depaul.edu/mom/ and http:

[2015-02-05 00:33] meemking commented on #10
This is really nice. Thanks for passing along.

Whats the most up to date source of data in Chicago on volume of bikers by region/street/whatever in the city? Divvy must cite something when it decides where to put bike racks, right?

[2015-02-06 02:00] guillermokrh commented on #8
Hey Steven, I was wondering, what is your favorite web dev set-up?  I've used a combination of vim, the terminal, and Mozilla in the past, but I don't really feel it's ideal.  Let me know what combo of tools you use!

[2015-02-06 16:19] stevevance commented on #8
I use Coda, Safari, and MAMP.

[2015-02-06 16:21] stevevance commented on #10
@meemking The Chicago Department of Transportation posts bike count data (in its extremely limited, minimal, hard to use form) [on Scribd](https://www.scribd.com/collections/4289227/CDOT-Bike-Counts).

Each one is a PDF. To get a breakdown of counts by time you'll have to submit a FOIA request to CDOT.

[2015-02-08 17:15] Oboi commented on #10
FYI @meemking & @stevevance ...
CDOT asked Slow Roll Chicago to make outreach into the Southside and Westside to get folks to visit suggest.divvybikes.com in order to suggest new stations for the areas where they are expanding. The understanding here is CDOT will take this into consideration when deciding on the new locations. We are running a social media campaign for this through Feb 28. Check i

[2015-02-08 17:36] Oboi commented on #9
Hey @stevevance - A few quick points.

Can we group low-income and moderate-income together??? Most Fed/State/City gov depts look at LMI people/communities as one group. And, moderate-income in Chicago is considered poor by most rational people's definition of poverty.

Can we do the same analysis you mention above with percentages also? For example, what percentage of LMI people in Chicago live w

[2015-02-08 23:26] stevevance commented on #9
@Oboi We are starting with the simple task of analyzing how many _people_ live near a bike lane. We're taking baby steps so we don't bite off more than we can chew when developing a future method.

[2015-02-09 05:31] Oboi commented on #9
@stevevance Cool, do understand my friend. I'm good with our baby steps...

[2015-02-09 20:02] meemking commented on #9
What's the data source for # of people? Census tract?

On Sun, Feb 8, 2015 at 11:31 PM, Olatunji Oboi Reed <
notifications@github.com> wrote:

##

Maggie King
email: Maggiek@uchicago.edu
phone: (574) 286-9389

[2015-02-09 20:09] stevevance commented on #9
@meemking Yes, via 2010 decennial Census.

[2015-02-09 20:41] meemking commented on #10
I think it would be critical to get CDOT's answer on the following, re
data:
1- What data do they use to decide where new stations go? Is it based
solely on requests from the public (ie the feedback on this social media
campaign)? Do they also take into account the volume of bikers already in
the area?
2- If so, what is the data source they use for counting the number of
bikers in the city, and ho

[2015-02-09 21:01] Jmamdor commented on #10
@meemking If I remember correctly, Divvy uses a proprietary model to site their stations. The suggestions and input from the city only impact that inasmuch as they need to nail down exact spot. The model uses employment, residential, and recreational attraction density. It also contains a financial impact portion to determine if sites are economical.

Steven would know more about the other two. I

[2015-02-09 21:09] meemking commented on #10
Thanks @jmamdor :)  Maybe the right question then is how financial impact
is modeled. Basic assumption is that it would require some input
assumptions about the number of bikers using that station. Without a good
estimate of volume of bikers, how are they arriving at that impact?

On Mon, Feb 9, 2015 at 3:01 PM, Jmamdor notifications@github.com wrote:

##

Maggie King
email: Maggiek@uchicago.edu
p

[2015-02-10 16:07] thcrock commented on #7
I've been playing around with this a bunch. I can confirm that using 'quick and 'safe for bike triangle optimization produces different results, so while we may want to look more closely into how the various bike lanes are graded it is at least making some difference.

One thing that came to mind is: Maybe the value with useful information here is specifically the difference in jobs access between

[2015-02-10 17:43] guillermokrh commented on #8
So I've been playing around with turf.js and I've thought of a couple of ways to create a function that returns the closest grocery stores.  I also did some tests on some random geoJSON points I created, so here are my thoughts and concerns:

First Thought:
- use Distance to calculate distances between current point and ALL grocery stores, using a loop
- return stores that are within 2 miles
- CON

[2015-02-11 02:16] bonfirefan commented on #10
Summary: Ryan Adriatico looked at a neighborhood level and highlighted those with 25%+  of the population below the poverty line. He then mapped rail stations and Divvy stations (not bus) with 0.5 mi buffers, with the remaining neighborhood areas highlighted as transit deficient.

Gino and I discussed this after reading through the description - this research project in particular could serve as a

[2015-02-11 04:48] zorostang commented on #10
Good summary @bonfirefan !

[2015-02-11 04:48] #10 closed

[2015-02-11 05:13] stevevance commented on #8
1. I think you're right: this isn't scalable or fast on geographic features that have more than a few dozen points. Although I've done it before, just not with a JS library like Turf.
2. I think this is the best approach out of the three. The Counted function doesn't seem so important because we can actually use other code to count the number of features in a returned GeoJSON object.
3. FeatureCol

[2015-02-11 05:21] stevevance commented on #9
I started working on this, loading data from the [National Historical Geographic Information System](https://www.nhgis.org) (NHGIS) a GIS database from the University of Minnesota's Population Center. It's pretty amazing as it allows you to download Census data and Census GIS boundaries for _any_ level and _any_ summary table.

I started analyzing the two datasets (Block groups GIS and Total popul

[2015-02-11 05:25] stevevance commented on #10
@meemking No. 2: This is the question I, as a transportation planner in Chicago, get asked the most. And the answer is pretty insufficient, and doesn't help the person asking. And I can't say that the answer gets any better. There are few counts conducted in few places and for a few hours. Essentially the city counts in 6 locations 12 times a month and 6 hours per month. That's 432 hours per year,

[2015-02-11 05:32] stevevance commented on #7
@thcrock I think it's pretty fabulous that we'll be able to showcase 'quick and 'safe routing choices.

Lowering the average speed is definitely a good idea. I would say 8-9 MPH should be the minimum. I believe that when the [first #DivvyData challenge](http://www.stevencanplan.com/2014/02/where-do-divvy-riders-go/) happened several people were able to compare users' trip durations with the distan

[2015-02-11 13:06] Oboi commented on #10
Peace All - Had a great mtg yesterday with CDOT. Anything y'all need from Divvy, let me know. Happy to ask CDOT. Our campaign on Divvy + Equity Talk goes through the end of Feb. I am confident CDOT will take this into consideration for new stations on the South & West sides. The more we get people to chime in the, better our position to speak to CDOT/Divvy from a place of power.

Here's the text f

[2015-02-11 18:54] meemking commented on #9
What is the gain from introducing randomness here? We can't be certain it
will converge correctly since the population isn't necessarily distributed
uniformly across each group.

It seems like the best you go do would be to exploit the information in
Census tracts, since they are the most homogenous (on relevant
demographics) unit of analysis available already. You could count how many
x (bike lan

[2015-02-11 19:14] thcrock commented on #7
Yesterday I started looking into how good the quick vs. safe data is. A lot of the numbers were the same, which leads me to believe:

(1) The basic 'SAFE' routing might not penalize roads without bike lanes as much as we want. However, the bike triangle is fully configurable, so we don't have to use the 'SAFE' defaults. I don't have specific values in mind that I think we should use, but we can ex

[2015-02-12 01:50] guillermokrh commented on #8
Hey Steven and Gino,
I can't push my change to app.js; I don't have permission from the project.  How can I get permission, is this something I have to set up?  Let me know!  It's just the document.ready jQuery wrapper, but we should get this out of the way.

[2015-02-12 02:33] zorostang commented on #8
I added you as collaborator. You should be able to push now.

[2015-02-13 02:50] easherma commented on #9
Maggie- I'm with you here and happy to see someone else using Postgis. :-)

On Wednesday, February 11, 2015, Maggie King notifications@github.com
wrote:

##

Eric Sherman
224-402-0004

This e-mail, and any attachments thereto, is intended only for use by
the addressee(s) named herein and may contain legally privileged
and/or confidential information. If you are not the intended recipient
of this e

[2015-02-14 19:57] guillermokrh commented on #8
Hi Steven,
I'm running into issues with MAMP again, could you send me screenshots of your MAMP settings?  Thanks!

[2015-02-18 02:51] dtb557 opened #11 "What are the thresholds for low- and moderate-income in Chicago?"
We are getting income data from the ACS, which reports income in about 10 or 11 categories. We may want to make arguments involving low- and moderate-income populations, so we need to determine what the commonly-used thresholds for these categories are.

[2015-02-18 02:53] dtb557 opened #12 "Can we connect biking to crime-reduction via research on the link between health and crime-reduction?"
This is a research-group question that we could create a wiki page for, perhaps titled "Biking and Crime", where we can collect research findings that point to biking as a force for crime-reduction.

[2015-02-18 02:55] dtburk commented on #12
What are the findings on bike lanes and biking in Bogota, Colombia?

[2015-02-18 05:33] stevevance opened #13 "How many grocery stores have a Divvy station nearby?"
Another problem we can solve with Turf.js.

[2015-02-18 13:05] Oboi commented on #12
@dtb557 Peace Derek - Lots out there. Check out the term "ciclovia bogota". Will also send you some research on this. Thanks mane, peace...

[2015-02-18 13:16] Oboi commented on #11
@dtb557 Suggest we group low-income pop and moderate-income pop into a broader LMI pop. Most federal, state, city agencies do the same. And, most rational people consider moderate-income people in Chicago as poor. Found the definitions for both low-income and moderate-income here:
https://www2.fdic.gov/crapes/peterms.asp

Here you go...

Low-Income: individuals and geographies having a median fami

[2015-02-18 16:36] dtburk commented on #11
Thanks @Oboi ! From your FDIC source:

"Moderate-Income: individuals and geographies having a median family income of at least 50 percent and less than 80 percent of the area median income."

So if we group together low- and moderate-income, it seems like an LMI Census tract would be any tract with median income less than 80 percent of the median income for Cook County/City of Chicago as a whole.

[2015-02-18 17:01] dtb557 opened #14 "Is biking a "keystone habit" that can spur positive changes in many areas of one's life?"
In the book "The Power of Habit", author Charles Duhigg discusses the concept of "keystone habits", which captures the notion that certain small changes in a person's life (or in an organizational culture) can have a cascading effect, producing all sorts of other positive changes. One of Duhigg's main examples is at the organizational level, where he tells the story of how the aluminum company Alc

[2015-02-18 17:13] easherma commented on #14
Good stuff. I'd say for most of the purposes of this project (i.e. dialog
with local alderman), establishing correlation between these behaviors and
biking/regular exercise will be enough to make the argument, especially if
we can also cite longitudinal studies that show in increase in biking after
more cycling infrastructure is provided, etc..

On Wed, Feb 18, 2015 at 11:01 AM, Derek Burk notific

[2015-02-20 04:15] thcrock commented on #7
As discussed on Tuesday, I was able to rebuild my OTP Graph.obj to properly take into account bike lanes. Using this, I calculated 'quick' and 'safe' routing and cross-referenced it with jobs data to get two jobs values, accessible within a 25 minute bike ride at 9mph.

The resulting GeoJSON file is 5MB, so click at your own risk:
https://github.com/thcrock/chicago_bike_equity/blob/master/jobs.geo

[2015-02-20 05:58] thcrock commented on #7
The tract-wise GeoJSON file is much smaller, so I put it on Dropbox. It's in gis_original_data/jobs_by_tract.geojson

I tried a sample visualization; what is the difference between the 'safely' accessible jobs and the 'quickly' accessible jobs?  I treated the percentage difference between the two routing options as a gap that could be lessened by more bike infrastructure, and overlaid circles base

[2015-02-21 03:34] thcrock commented on #7
So, to more heavily debug how OTP does bike routing, I made a visualization that forgets about jobs and just looks at reach. The idea was to see how calibrating the bike triangle would change how OTP routed.

For quick routing (colored in red), I used 1 for quick and 0 for safety and slope.
For safe routing (colored in green), I used 1 for safety and 0 for quick and slope.

As you can tell from th

[2015-02-22 06:03] guillermokrh commented on #13
Hey Steven, I added a "turf-tests" branch, so I can show you what I'm trying to do with turf.  Right now I'm struggling with iterating through the list of groceries to use them as comparison points in turf.  For example, in the console right now I can access the latitude of the grocery store at index 0 of the groceriesGeojson feature list by typing in "groceriesGeojson.features[0].properties.LATIT

[2015-02-22 21:51] Oboi commented on #14
@dtb557 @easherma This is great work! I had a quick convo with Ald Howard Brookins this past week. He mentioned the lack of community support for bike infrastructure. And, we talked about the need to tell a comprehensive story around how biking can contribute to reducing violence, improving health, and creating jobs.

Brookins agrees this will be a powerful story to change perceptions in his ward.

[2015-02-22 21:54] Oboi commented on #11
Hey @dtb557 - Yep, this is generally the approach federal, state, city depts, as well as the banking industry takes in assessing LMI pops. Feels like the right approach for us.

[2015-02-25 01:48] stevevance opened #15 "Show real-time Divvy stations on the map"
Divvy updates a JSON feed once per minute that lists all 300 stations (soon to be over 400 by the end of 2015) and the number of open docks and available bikes at those stations.

While it's not critical to our mission to show real-time Divvy availability, it could be a useful addition to the map.

(What is critical about Divvy is station distribution.)

[2015-02-25 01:48] stevevance opened #16 "Users should be able to submit pothole reports to Chicago's Open311 via our map"
We don't want to reinvent the wheel with making reports to 311 via a website or an app (because there are already several of these) but we want to make it easy, while people are looking over the map, to submit reports about problematic locations in the bike lanes.

It could work like this:
* The map user is browsing their neighborhood on the map and they're looking at a particular part of the bike

[2015-02-25 06:12] zorostang commented on #13
@guillermokrh checkout my latest commit to turf-tests. I experimented with turf and divvy and was able to iterate through all the divvy stations and create 0.2 mile buffer regions using turf. This technique could probably be mimicked for the grocery stores.

[2015-02-25 07:09] stevevance commented on #7
What profile configuration does your OTP instance use? I'm familiar with how OSRM (OpenStreetMap Routing Machine) works, [using .lua profiles](https://github.com/Project-OSRM/osrm-backend/blob/master/profiles/bicycle.lua).

When you know how to set a custom configuration for OpenTripPlanner, try out these bike lane weightings.
- highway=cycleway: 1 (safest)
- cycleway=track: 0.9
- cycleway=buffere

[2015-02-25 14:54] stevevance commented on #7
Regarding bike lane data for Chicago...I've been the primary caretaker of these, and I'm several months behind. That means that I haven't edited OpenStreetMap to include bike lanes built in the summer through winter 2014. The solution is to finish editing this, based on the "bike routes" data published by CDOT that's already uploaded in our repo.

One shouldn't rely on the OpenCycleMap as an indic

[2015-02-25 23:21] stevevance commented on #8
@guillermokrh @zorostang Update your Turf.js instance because Mapbox [released 1.4 this week](https://www.mapbox.com/blog/turf-1-4-0-released/).

[2015-02-26 06:47] stevevance commented on #11
Okay, we'll use 80 percent of median income and group low and moderate into the same. Closing the issue now!

[2015-02-26 06:47] #11 closed

[2015-02-27 02:49] guillermokrh commented on #13
Thanks Gino I'll check it out!

[2015-03-03 07:31] stevevance commented on #13
@zorostang Can you show me tomorrow? I'm gonna be coding tomorrow with you guys, something I haven't done for weeks because of...distractions at Hack Night.

[2015-03-03 14:56] thcrock commented on #7
@stevevance I've recently upgraded to the newest version of OpenTripPlanner, and have been looking into its configuration. I'm actually adding the ability to configure the routing profiles (more specifically, a WayPropertySet) through the new JSON-based config system. I just created an Issue on OTP to track my progress: https://github.com/opentripplanner/OpenTripPlanner/issues/1787

I won't be abl

[2015-03-04 02:14] stevevance opened #17 "Count the number of Divvy stations near a given point"
Install the context-menu plugin for Leaflet to allow the user to right-click a point on the map. Then find the 5 nearest Divvy stations and report their distances.

[2015-03-04 03:36] stevevance opened #19 "Add a Divvy service area of 2 miles around the stations"
Currently there's a Divvy buffer area of 0.5 miles around each station, which represents the walk shed (the distance most people would walk from their home to the Divvy station, or from the Divvy station to the workplace).

There should be a second layer (of a different style) that shows a presumed Divvy service area of 2 miles (the distance you can travel in 30 minutes).

This is definitely going

[2015-03-04 03:37] stevevance commented on #6
Look for inspiration for a legend within [this Leaflet tutorial](http://leafletjs.com/examples/choropleth.html).

[2015-03-04 05:50] stevevance commented on #7
@thcrock I don't think I agree with your danger ratings on that profile/config you put in that issue, but it's something we can deal with once OTP developers accept your proposal.

[2015-03-04 05:52] stevevance commented on #17
The Turf.js "nearest" function only finds 1 feature and isn't extensible to find more than one. You can see this live on the map now, and it's also [explained in my blog post](http://www.stevencanplan.com/2015/03/use-turf-to-perform-gis-functions-in-a-web-browser/).

@zorostang You should pull the latest from master because @rguico expanded your work on the Divvy station buffers to merge them into

[2015-03-04 15:11] thcrock commented on #7
@stevevance Those ratings are just the defaults that are already in OpenTripPlanner, the intention is to create our own config file once it's possible to use a config file.

[2015-03-06 14:57] fgregg opened #20 "CMAP's bikeway inventory system"
https://datahub.cmap.illinois.gov/dataset/bis

[2015-03-06 16:15] easherma commented on #20
Yep!

On Fri, Mar 6, 2015 at 8:57 AM, Forest Gregg notifications@github.com
wrote:

##

Eric Sherman
224-402-0004

This e-mail, and any attachments thereto, is intended only for use by
the addressee(s) named herein and may contain legally privileged
and/or confidential information. If you are not the intended recipient
of this e-mail (or the person responsible for delivering this document
to the i

[2015-03-07 05:30] SyedSufyan commented on #19
We can try calculating the distance traveled in 30 minutes, by taking the average speed of the people driving bikes. I think we can generate this average, by using the divvy data we have. the time taken from one station to another.

[2015-03-07 05:33] SyedSufyan opened #21 "Pop-up Divvy station names when the cursor is hovered on the Divvy station"
I was thinking that if we can get the station names showing on the screen when we hover the cursor on the station, like we did for the grocery stores, that would be a good add on, let me know what you think.
note : minor fix for the location of script in html file.

[2015-03-09 02:35] stevevance commented on #20
It's a duplicate of the City of Chicago's own bike lane GIS file. I don't remember what it offers for the suburbs.

Side note: It would be cool if CKAN, like Socrata, could provide a map preview of geospatial data.

[2015-03-09 02:35] #20 closed

[2015-03-11 00:49] stevevance opened #22 "How do you draw a Divvy service area?"
We have a buffer that shows the Divvy walk shed, but we need to show the service area (where you can bike away from the station).

@sufyan has an idea on how to do this using the speed derived from actual trip data.

[2015-03-11 00:50] #22 closed

[2015-03-11 00:50] stevevance commented on #19
@SyedSufyan Sounds like a potential solution. @thcrock has another idea.

This is a low-priority feature, but if you can solve it easily, do it.

[2015-03-11 00:52] stevevance commented on #21
@SyedSufyan I think this is a good idea to improve the user experience.

The code that does this for the grocery stores is highly reusable and was provided by the "Bootleaf" application. Can you adapt that code from the grocery stores?

[2015-03-11 00:54] stevevance commented on #12
Did we conclude anything on this topic?
Is it still the case that there's not enough research to support this connection?

[2015-03-11 00:54] #12 closed

[2015-03-11 01:11] thcrock commented on #21
Even better; would it be helpful to merge in some aggregates per station from the Divvy Data Challenge? Avg trips per day, etc? It might come in handy for illustrating current bike usage.

[2015-03-11 02:19] stevevance opened #24 "Add a location search for users to find their home or workplace"
The fastest way to do this would be to use one of the several Leaflet plugins that adds a "search" control box as an overlay on the map.

Also, remove the "Search" box in the upper-right corner because it's misleading on what it does. (The search box on the left side should remain.)

[2015-03-11 03:14] easherma commented on #24
I think this is pretty easy to do. I can export a layer from qgis2leaf that
includes a location search.

On Tuesday, March 10, 2015, Steven Vance notifications@github.com wrote:

##

Eric Sherman
224-402-0004

This e-mail, and any attachments thereto, is intended only for use by
the addressee(s) named herein and may contain legally privileged
and/or confidential information. If you are not the int

[2015-03-11 04:32] stevevance commented on #24
@easherma I'm interested in seeing how qgis2leaf (QGIS to Leaflet) works, and I'm a little surprised that it comes with a location search. Is that location search specific to the layer that you export?

[2015-03-11 04:35] stevevance commented on #9
@meemking I modified my analysis to use the "block" level, which in Chicago, is a pretty uniform and easily understood shape. The Census blocks really do look like our housing blocks.

The randomness is to say that people are equally distributed amongst the block's shape. Blocks are really small, like 700x300 feet.

The thing about this analysis is that it takes a really long time for PostGIS to c

[2015-03-11 17:07] SyedSufyan commented on #24
@stevevance Top right Search box Removed

[2015-03-11 23:42] meemking commented on #9
Yeah, great idea. Block level seems like a much fairer unit of analysis for
which to assume a uniform dispersion.

Btw, how did you plan to assign a bike lane to within a census block? I'm
struggling with how to do that, but I have an idea for how to calculate the
rest of the answer to this question quickly in postgres that I could do.
That way you can remove it from stretch.

On Tue, Mar 10, 2015

[2015-03-12 00:17] thcrock commented on #9
@stevevance @meemking I'm not sure what the bike lane data looks like, exactly, but I assume that it's something like a linestring that would be easy to use in PostGIS. In that case, I should be able to calculate census blocks for each bike lane (or rather, a list of census blocks that each bike lane touches) rather quickly. I already have a table with census block data in my local PostGIS install

[2015-03-12 00:24] meemking commented on #9
That's cool. Would you be able to export a flat file with that info? Ie,
list of census blocks that each bike lane touches? I was thinking we could
just use that to count the number of bike lanes for each census block (by
counting how many times a bike lane touches each census block).

I could also use that census block data to aggregate up to the census tract
level. At tract, we can calculate sta

[2015-03-12 00:30] thcrock commented on #9
Yep, exporting a flatfile is no problem.

[2015-03-12 00:34] meemking commented on #9
yeah, cool lmk whenever its ready.

On Wed, Mar 11, 2015 at 7:30 PM, Tristan Crockett notifications@github.com
wrote:

##

Maggie King
email: Maggiek@uchicago.edu
phone: (574) 286-9389

[2015-03-12 04:39] easherma commented on #9
I can also help with this, I use postgis and postgres on a daily basis.

On Wednesday, March 11, 2015, Maggie King notifications@github.com wrote:

##

Eric Sherman
224-402-0004

This e-mail, and any attachments thereto, is intended only for use by
the addressee(s) named herein and may contain legally privileged
and/or confidential information. If you are not the intended recipient
of this e-mail

[2015-03-12 16:04] #24 closed

[2015-03-12 16:11] stevevance commented on #9
I was using `ST_DWithin(bikelanes, block_level_population_random_points, 2640)` (2,640 feet is half a mile) to mark if a person was within a bike lane or not. Doing this on 2.6 million people is very slow.

The next step, which I haven't taken, is to create a new geometry (not just as part of a query), developed from `ST_Buffer(bikelanes, 2640)` and then running `ST_Intersect(block_level_populatio

[2015-03-12 16:19] stevevance commented on #9
I uploaded the datasets to Dropbox.
https://www.dropbox.com/sh/nwf7qicri2t4yqs/AABJ8XLl7qvotwVeeJ7V4CWBa?dl=0

There are 2 files:
1. Bike lanes with 1/2 mile buffer
2. Chicago blocks with population (shapes + data)

[2015-03-12 16:31] rguico commented on #9
Is there a general URL for "the Dropbox"? A quick glance at the repo didn't reveal any obvious URLs.

[2015-03-12 18:27] easherma commented on #9
It will definitely be faster to do the intersection by census tract.
Alternatively, you could group your points by their nearest neighbors and
join those aggregated groups. Another option would involve a bit more code
but could populate each tract/block with the bike line that its closest to
and another column showing that distance. That way you can adjust the
threshold later just by filtering tha

[2015-03-14 03:58] rguico commented on #6
I think I'll lead the coding team on Tuesday to pick this one up.

[2015-03-18 00:11] stevevance commented on #21
@SyedSufyan Don't do that now.

[2015-03-18 00:15] SyedSufyan commented on #21
ok but why, do we have another requirement now. Also, I have another Idea, we can search bike stations, not just by right clicking, also by search with respect to the area code or zip code. what do you think. @stevevance

[2015-03-18 00:29] stevevance commented on #13
Done. @guillermokrh made it so the number would be calculated and then printed it to the console. See another issue for the next step.

[2015-03-18 00:29] stevevance commented on #13
Done. @guillermokrh made it so the number would be calculated and then printed it to the console. See another issue for the next step.

[2015-03-18 00:29] #13 closed

[2015-03-18 00:52] stevevance commented on #21
@SyedSufyan Divvy stations aren't a priority. Until we know their effect on bike lane distribution, and what the research group tells us, the map should only show their location (and details like name/address).

How's your progress on showing their names when you hover them?

[2015-03-18 00:58] SyedSufyan commented on #21
@stevevance well, I have researched some of the ways to show the names of the station, but nothing materialistic happened. We can start working on other issues right now, if we have time later on, we can come back to this one. Let me know what issue are we currently looking at, btw I have removed the search box :)

[2015-03-18 01:04] SyedSufyan commented on #6
@rguico are we planning to add legend as a part of the map, or just a documentation ? what I was thinking is a way to make a static legend image, and then find a way to put that image in the map. what do you think.

[2015-03-18 01:07] stevevance commented on #9
@easherma I was going to do it that way originally but I don't think that's accurate enough because the dimensions of a Census tract mean that someone who lives at the northwest corner is really far away from a bike lane that's at the southeast corner of the Census tract.

This rudimentary way would still have value, though, and it's going to be a lot easier to do than block groups/blocks.

@rguic

[2015-03-18 01:08] stevevance commented on #8
Fixed, with commit https://github.com/zorostang/chicago_bike_equity/commit/3fc9be4829323688de389f0c28ee95ed53b9864b

[2015-03-18 01:08] #8 closed

[2015-03-18 01:51] rguico commented on #6
Syed - we want to use http://leafletjs.com/examples/choropleth.html but
tonight we worked to generate a GeoJSON file that we can refer to as a
source for that map.

A dynamic solution would be nice because we can reuse it when we start
putting out other layers besides population density.

-Robert

On Tue, Mar 17, 2015 at 8:04 PM, SyedSufyan notifications@github.com
wrote:

[2015-03-18 01:57] SyedSufyan commented on #6
@rguico sounds good, see ya guys next week, and finish this thing up :)

[2015-03-18 02:06] stevevance commented on #6
This is the wrong legend to add. We will be adding a different legend through another issue using @rguico's chloropleth map.

[2015-03-18 02:06] #6 closed

[2015-03-18 02:09] stevevance opened #27 "Tell the user that they can right-click on the map"
Two options:

1. Sidebar
Above the upcoming Access Index list, it should say, "Right-click anywhere on the map to get your Access Index/Score"

2. Info overlay (bubble that hovers on the map)
Overlaid on the map would be a transparent bubble that says the same thing as Sidebar.

[2015-03-19 15:08] rguico opened #29 "Create a legend and hover div for the bike lanes layer--and all future layers"
![bike_equity](https://cloud.githubusercontent.com/assets/4085127/6733295/3c65d636-ce1f-11e4-899a-a486b0bebe23.jpg)

This screen shows a potential use case. In this case, we're overlaying bike lanes atop the population density layer.

The legend and info div should show information about density *and* bike lanes. This may require some pretty fancy rearchitecting to accommodate future layers.

[2015-03-22 05:19] rguico opened #30 "Create a global zindex object for layer management"
We need to manage which layers are on top of other ones better, instead of defaulting to "whichever one we checked last".

The best way to do this is probably a global variable, something like the following...

[code]

[2015-03-24 23:03] rguico commented on #17
This issue remains open so that we can consider implementing https://github.com/mapbox/leaflet-knn instead.

[2015-03-25 01:24] stevevance commented on #17
@rguico Are you working on this?

[2015-03-25 01:27] stevevance opened #31 "Implement a reverse geocoder to replace the "your coordinates" list"
For implementing the access index, which is based on the user right-clicking a point on the map (and, in the future, searching for a specific address), we should tell the user the address for their point – instead of the coordinates.

I know of one reliable reverse geocoder, and that's OpenStreetMap's [Nominatim service](http://wiki.openstreetmap.org/wiki/Nominatim#Reverse_Geocoding_.2F_Address_lo

[2015-03-25 01:44] kuhnbaya opened #32 "What can we use from this Hardship Index map to inform our Access Index?"
Hi all,

The research group discussed this map of a Hardship Index. We thought there were a couple of good things on this map that we can use:

http://www.chicagomag.com/Chicago-Magazine/The-312/May-2012/The-Geography-of-Economic-Hardship-in-Chicago/

1. Color spectrum: We liked that the Hardship Index map had a wide spectrum of colors. It seems like it is easier to read because the colors are ver

[2015-03-25 02:33] rguico commented on #17
Yes, but heads up: it might be a slower algorithm. If it's decidedly slower I'll let you know.

[2015-03-25 03:47] guillermokrh commented on #31
Hey Steven,
All my changes have been committed.  Take a look at the new context menu options, "Show Address" and "Clear Comparison".  "Show Address" displays the address of the coordinates on the "Access Index" sidebar, and creates a blue popup on the map with the address.  I was thinking the pop-up might be good so that the person remembers where they clicked. Then I added a "Clear Comparison" fu

[2015-03-25 05:56] stevevance commented on #17
@rguico Keep in mind there's just a small chance I might want to add bike directions between the point and the Divvy station. The reason I would keep it out is because this isn't a Divvy app. We need to determine the utility of such a function towards our mission before including it.

[2015-04-01 01:34] stevevance commented on #31
Thanks for doing this!
1. Put the "Clear" function in the sidebar.
2. Find a new icon to represent the address.
3. Nope, get rid of the "show coordinates" option.

[2015-04-01 01:34] #31 closed

[2015-04-01 01:36] stevevance opened #36 "Turn the "reverse geocode" function into the beginning of the "Get Access Index" function"
1. In the context menu, change to "Get an Access Index"
2. Combine the "nearest Divvy stations" and "show address" functions into a new function called something like, "getAccessIndex()".
3. Count the number of grocery stores within 2 miles of this point.
4. When you click on an address in the "Access Index" sidebar, highlight the corresponding map marker.

[2015-04-01 01:52] stevevance opened #37 "Make a GeoJSON file of Census tracts with certain attributes"
It should have these attributes:

# Primary
* Median income
* % Black
* % White
* % Hispanic
* Hypertension
* Miles of bike lane:
[code]

# Secondary
* Vehicles available
* Mode share: Bike
* Mode share: Transit
* Mode share: SOV
* Mode share: Carpool

[2015-04-01 01:59] stevevance opened #38 "Why does ESRI's reverse geocoder fail sometimes?"
Occasionally the reverse geocode function fails to produce a response.

Is our JavaScript looking for the right response codes/statuses and does it know what to do with the "wrong" response?

[2015-04-01 02:51] guillermokrh commented on #36
Hey Steve,

While you're at it, you might want to change the permissions for my account in terms of merging privileges. I'm totally fine with keeping things the way they are and dealing with merging conflicts as they arise, but you might want to be the clearinghouse for that because I might not know what changes you'll want to keep at the moment. This could be important as we start working on part

[2015-04-01 03:46] stevevance commented on #36
@guillermokrh I'm not sure what your privileges are now. Do you have direct access to pushing commits?

[2015-04-02 15:25] guillermokrh commented on #36
I do have direct access to pushing commits, so I think I have "collaborator" access.  I think only Gino can control who is a collaborator, and who can only send pull requests.

[2015-04-02 15:36] stevevance opened #39 "Add these Primary indicators to the map"
As we discussed at our March 31 meeting, the Research group has settled on mapping [these indicators](https://github.com/zorostang/chicago_bike_equity/wiki/Research-Questions).

1. Median Income (Economic) (Eric)
2. Active issued business licenses (Economic) (Steven)
3. Injury Rates for cyclists (Health) (this requires the bike count data to be transformed from its PDF status) (Robert)
4. Hyperten

[2015-04-02 15:37] stevevance commented on #36
@zorostang Can you take Guillermo off "collaborator" access, per his request?

[2015-04-15 00:57] rguico opened #41 "Transcribe bike counts into a Google Spreadsheet"
Source: http://www.scribd.com/doc/240207885/2014-09-BikeCount

Spreadsheet: https://docs.google.com/spreadsheets/d/1mGFX0Lak4jnxvbWNzuBervyGuswq5hrMyQMIxzS7JVs/edit?usp=sharing

[2015-04-15 02:10] guillermokrh commented on #36
Update
1. In the context menu, change to "Get an Access Index" - done
2. Combine the "nearest Divvy stations" and "show address" functions into a new function called something like, "getAccessIndex()". -todo
3. Count the number of grocery stores within 2 miles of this point. -todo
4. When you click on an address in the "Access Index" sidebar, highlight the corresponding map marker. -todo
5. Make b

[2015-04-15 02:10] guillermokrh commented on #36
Update
1. In the context menu, change to "Get an Access Index" - done
2. Combine the "nearest Divvy stations" and "show address" functions into a new function called something like, "getAccessIndex()". -todo
3. Count the number of grocery stores within 2 miles of this point. -todo
4. When you click on an address in the "Access Index" sidebar, highlight the corresponding map marker. -todo
5. Make b

[2015-04-15 02:12] guillermokrh commented on #38
Update: Figured out the error that it throws, working on printing out a nice message that says something to the effect of "try again".

[2015-04-20 15:20] stevevance commented on #38
@guillermokrh What error was it throwing?

Would it be possible to "try again" without requested that the user do anything?

[2015-04-20 15:20] stevevance commented on #36
Awesome, @guillermokrh. Let's review this tomorrow night.

[2015-04-20 16:04] stevevance commented on #37
@easherma Thanks for creating [this file](https://github.com/zorostang/chicago_bike_equity/blob/master/gis_original_data/GeoJSONJoinPrep/everythingbuthypertension.geojson)!

Can you make some changes to it?
- Export as EPSG:4326
- Remove SHAPE_AREA and SHAPE_LEN fields
- Amend how Census tracts are identified
- Change `bikelanelength_BikeLENGTH` to something shorter

Census tract identification:
I

[2015-04-21 17:01] stevevance commented on #9
@easherma Can you help me come up with another way to get this metric?

Perhaps looking at it by Census tract. Identify the Census tracts that have majority black, majority white, majority hispanic. Then calculate the minimum distance to the nearest bike lane, and then the miles of bike lane within 1/2 mile.

[2015-04-21 17:45] stevevance commented on #41
I added in the missing December 2013 document numbers.

[2015-04-21 17:45] #41 closed

[2015-04-22 00:33] easherma commented on #9
My first thought is that calculating a walk shed for bikelanes would be the
first step. You could use census tracts and some population data to get
'how many people'.

Another option might be to use the residential land use from CMAP, which
wouldn't give you hard numbers but might more directly address CDOTs stated
goal.

On Tue, Apr 21, 2015 at 12:01 PM, Steven Vance notifications@github.com
wrot

[2015-04-22 00:46] stevevance opened #42 "Add hypertension to the map"

[2015-04-22 00:46] stevevance opened #43 "Add bike counts to the map"

[2015-04-22 00:46] stevevance opened #44 "Add current (unexpired) business licenses to the map"

[2015-04-22 00:51] guillermokrh commented on #38
![screen shot 2015-04-21 at 7 50 28 pm](https://cloud.githubusercontent.com/assets/8136798/7265444/c28e14c6-e85f-11e4-9f47-5f9c03388260.png)

[2015-04-22 00:52] guillermokrh commented on #38
I think it is possible to try again, but shouldn't we let the user know that there is no data for the specific location they are requesting?

[2015-04-22 01:13] thcrock commented on #9
I'm going to take a stab at this. I think the assumptions we can make are:
1. A census block is small enough that, for our purposes, if you can make it to anywhere in a census block, you can make it to anywhere else. That is, if a bike lane's 0.5 mile ST_buffer intersects a census block, we can assume that everyone in that census block can access the bike lane. No need for distributing points with

[2015-04-22 01:27] stevevance commented on #39
Income amounts (available only at the Census tract level):
Low income: Less than 50% of the Area Median Income (AMI)
Moderate income: 50-80%
Middle income: 80-120%
Upper income: More than 120%

Race is available at the block group level.

What is the Area Median Income for this area?

[2015-04-22 02:07] stevevance commented on #9
Arnold is looking into this, and he's downloading demographics data from American FactFinder. Income is available only at the Census tract level while race is available at the block group level ([more details](https://github.com/zorostang/chicago_bike_equity/issues/39)).

Method:
- Draw a half mile buffer around the bike lanes.
- Select all the block groups that intersect this buffer.
- Summarize

[2015-04-22 02:35] stevevance opened #46 "Add half-mile bike lane buffer to the map"
So we can visualize if there really are 2.1 million people within a half mile of a bike lane. This will eventually be used in the API to determine if the desired point is within a half mile of a bike lane or not.

Use Turf.js to add a buffer to the bike lanes of half mile. Use the ````buffer```` function to draw a buffer shape of 2,640 feet around the bike lanes.

[code]

[2015-04-22 02:37] stevevance opened #47 "Don't reverse geocode a right-click if the right-click is outside the Chicago boundary"
Use Turf.js to test if the right click happened inside the Chicago boundary or not.

[2015-04-22 04:28] thcrock commented on #9
I have some surprising-looking results, and I've uploaded the resultant GeoJSON files for us to verify.

transit_future=> select sum(pop_total::integer) from chicago_block_with_population where geoid10 in (select geoid10 from chicago_block_with_population blocks join bike_routes routes on (st_intersects(st_transform(blocks.geom, 3435), routes.geom)) group by 1);

##   sum

 390663
(1 row)

transit

[2015-04-22 17:55] stevevance commented on #9
@thcrock Here's a test I want you to run on the data: The `sum(pop_total)` (of all blocks) should equal the city's population. Then the `sum(pop_white)` and `sum(pop_black)` should equal those the population of those respective groups. Can you run these queries and post the results?

I want to test that we're using the right source data.

[2015-04-22 18:20] thcrock commented on #9
transit_future=> select sum(pop_total::integer) as total, sum(pop_white::integer) as white, sum(pop_black::integer) as black from chicago_block_with_population;
  total  |  white  | black
---------+---------+--------
 2728791 | 1236825 | 892467
(1 row)

2.728 million looks like a little bit over what Wikipedia gives as the 2013 ACS population (2.718), but maybe it's a newer data source?

Another t

[2015-04-24 19:11] stevevance commented on #9
@thcrock Thanks for the stats. This was definitely necessary. I didn't follow my own instructions of documenting data providence. I am looking at my notes about the data I downloaded from NHGIS and I downloaded three datasets but I didn't mark which one I used and uploaded (so which one you're using).

I'll get back to you about these stats when I confirm which Census survey this represents.

[2015-04-24 23:02] stevevance commented on #9
I've generated a new dataset because I can't ensure the accuracy of the one you've been using @thcrock. Also, @easherma did you use the block/block group population data I provided?

The new dataset was created like this:
- Use Illinois Block Groups from TIGER/Line 2013
- In QGIS, overlay the City of Chicago boundary
- Use "Select by Location" to select all of the Illinois Block Groups that inters

[2015-04-25 00:11] stevevance commented on #9
Using the procedure outlined above, and @thcrock's PostGIS comparison query, I find the following number of people living near bike lanes.

[code]
- Total population: 2,711,817 (according to the total_population field in table B03002 this should only be 2,706,101, a difference of 5,716)
- Total population within 1/2 mile of bike lane: 2,120,328

There're too many people in my `chicago_block_groups

[2015-04-25 00:29] stevevance commented on #9
Stats for groups, dividing by race/Hispanic, and race/non-Hispanic.

[code]

The WHERE statement of `routes.type::int = any(array[1,8,9,5,7])` corresponds to bike lane, cycle track (protected bike lane), buffered bike lane, trail, and trail access path.

**Note**
To anyone reading this who's not in our Slow Roll Chicago–Chicago Bike Equity project, THESE FIGURES HAVEN'T BEEN VERIFIED. Essentially,

[2015-04-25 01:04] stevevance commented on #9
# Method No. 23

I talked this over with a friend and he gave me another idea to try (I think this is very similar to Arnold's idea).

## Procedures
- Create a dissolved 1/2 mile buffer of the bike lanes (2,640 feet, 10 buffer segments)
- Generate the area of the block groups ("AREA" field)
- Intersect the block groups and the bike lanes buffer
- Find the share of the original area of the block gr

[2015-04-25 03:17] easherma commented on #9
Yes [that sounds like a good method]

On Friday, April 24, 2015, Steven Vance notifications@github.com wrote:

##

Eric Sherman
224-402-0004

This e-mail, and any attachments thereto, is intended only for use by
the addressee(s) named herein and may contain legally privileged
and/or confidential information. If you are not the intended recipient
of this e-mail (or the person responsible for delive

[2015-04-28 20:36] dtburk commented on #32
I was just looking at the map and I agree with Mary that the default boundaries should be community area and not Ward or Census tract. Those smaller geographies could be an option, but I think community areas should be the default.

[2015-04-29 00:41] Katomizer commented on #44
- Download business license data
- Figure out which columns we need (name, address, etc)
- Convert to GeoJSON with QGIS
- Integrate into leaflet map as a point layer

[2015-04-29 00:48] stevevance commented on #15
Closed because this is a stretch milestone.

[2015-04-29 00:48] stevevance commented on #15
Closed because this is a stretch milestone.

[2015-04-29 00:48] #15 closed

[2015-04-29 02:15] Sonju commented on #46
We ran the buffer function, however, Turf took over a minute to process and create the bike lane buffer.  At this pace it would not produce a good user experience.

Turf creates buffers in polygon forms and bike lanes are single straight lines. This is one reason for its lengthy processing speed. We a made a decision to utilize a traditional GIS software to build the bike lane buffer.

[2015-04-29 03:25] stevevance opened #50 "Get distance to the nearest bike lane and add this to the Access Index"
See issue #46 for why we abandoned that issue and created this issue.

Concept: We need to know if someone (their house, or whichever point they choose) is within 1/2 mile of a bike lane or not. The ````turf.buffer```` function didn't work, so we're going to use the same ````turf.distance```` function that we're using to calculate the distance to the nearest Divvy stations.

[2015-04-29 03:25] stevevance commented on #46
We're going to try another method, and that's getting the distance to the nearest bike lane. Then testing if it's less than or greater than half a mile. We already have a "get distance" function for the Divvy stations, so it should be easy to implement this (now issue #50).

[2015-04-29 03:25] #46 closed

[2015-04-29 03:32] stevevance opened #51 "Change the zoom level so the map can have a greater zoom"
@SyedSufyan The map's ````maxZoom```` property should be set to something like 19 or 20.

[2015-04-29 03:32] stevevance opened #52 "Add community areas as a visual layer (turned off by default)"
See issue #32

[2015-04-29 03:32] stevevance commented on #32
@dtb557 I think we should have both Wards and Community Areas available. I believe that we will have interest from aldermen who will need info specific to their geography.

[2015-04-29 03:32] #32 closed

[2015-04-29 03:33] #29 closed

[2015-04-29 03:40] stevevance commented on #38
@guillermokrh Ife was working on this today, setting up a new geocoder with Pelias, actually. I'm going to go ahead and close it.

[2015-04-29 03:40] #38 closed

[2015-04-29 03:44] stevevance commented on #30
There's a Leaflet method to do this, I think. [autoZIndex](http://leafletjs.com/reference.html#control-layers-autozindex)

I believe that when it's set to `true`, which is the default, then the layers maintain their zIndex.

[2015-04-29 16:28] easherma commented on #50
An issue here will probably be that its more costly to measure the distance
from a poin to a line than from point to point. One way around this would
be to calculate/precalculate the midpoint of each bike lane segment and
measure the distance from your arbitrary point to that midpoint. That would
still be pretty costly so youd either index the midpoints or have the turf
code only generate midpoint

[2015-05-01 14:42] stevevance commented on #50
@easherma I believe, too, it might be costly to measure. It might be useful to make a hidden GeoJSON layer that's all the bike lanes as one MultiLineString line.

Also, Sonju (I can't tag you!), the `turf.distance` function won't work for this as it requires two points, and can't deal with a point and a string.

Try `turf.point-on-line``. However, this may not work because this only works with a p

[2015-05-04 23:44] Sonju commented on #50
Hey @stevevance I just subscribed to the notifications. Do I need to activate something so you can "tag" me?

[2015-05-06 01:11] stevevance opened #54 "Use bike parking to help assess bike infrastructure in the neighborhood"
Use a 1 mile by 1 mile square and count the number of bike racks in it. This will be part of the Access Index.

[2015-05-07 19:06] stevevance commented on #9
Breaking it down by bike lane type, the following racial and ethnic groups have this level of access:

_Protected bike lanes_

Protected bike lanes have only been installed since 2011.
- Of the 870,611 whites (white alone), according to the American FactFinder 2013 ACS, 11.99% of whites live within 1/2 mile of a bike lane
- Of the 862,567 blacks (black alone), 15.94% of blacks live within 1/2 mile

[2015-05-07 20:24] stevevance commented on #9
@easherma Add your notes here about interpreting this, and the two dimensions from our analysis that are connected to the first two principles in the Streets for Cycling Plan 2020 ([page 22](https://www.scribd.com/doc/116865054/Chicago-Streets-for-Cycling-2020))

[2015-05-12 18:13] stevevance commented on #51
Resolved

[2015-05-12 18:13] #51 closed

[2015-05-12 18:15] #36 closed

[2015-05-12 18:15] #1 closed

[2015-05-12 18:15] stevevance commented on #9
@easherma Actually, add your notes to another thread so I can close this one.

[2015-05-12 18:15] #9 closed

[2015-05-12 18:16] stevevance commented on #7
@thcrock What's the status on this?

[2015-05-12 18:16] #16 closed

[2015-05-12 18:17] stevevance commented on #17
@rguico Can you update this function to only show those Divvy stations within 1/4 mile? And can you count up to 20 stations to find those within 1/4 mile?

[2015-05-12 18:17] #19 closed

[2015-05-12 18:56] rguico commented on #17
I'm on it. I won't be available Tuesday nights for the next 2 weeks because
my parents / Tuesday babysitters are out of town. But I will try to find
time for it.

On Tue, May 12, 2015 at 1:17 PM, Steven Vance notifications@github.com
wrote:

[2015-05-12 19:02] #21 closed

[2015-05-12 19:03] stevevance commented on #50
Done. Ended up using CartoDB. We wasted too much time trying to figure out a way to do this in Turf!

[2015-05-12 19:03] #50 closed

[2015-05-12 19:06] stevevance opened #55 "Don't revert to nearest address - always use exactly where the user right-clicked"
This should solve two problems:
1. "No address found". If there's no address found, that's okay, we can use Nominatim to get the feature name (it could be a park).

![screenshot 2015-05-12 14 05 43](https://cloud.githubusercontent.com/assets/1330459/7595977/ff164372-f8af-11e4-93bd-e527426581a9.png)

2. Putting the marker of a found address far away from the user's desired location on which they ri

[2015-05-12 19:07] stevevance commented on #17
@rguico Okay, I'll keep that in mind. I'm spending today closing out old issues and if you sync you'll see I integrated the "find nearest bike lane" to the right-click "Get Access Index".

[2015-05-12 20:32] stevevance commented on #17
@rguico Can you also make these changes:
- Remove the lines between the source point and the Divvy stations
- Replace the icon with a Divvy icon (attached)
- Move the line's distance label into the Divvy station popup (I added the popup today)

![icon_divvy](https://cloud.githubusercontent.com/assets/1330459/7597881/25e61b42-f8bc-11e4-90dd-fa33ea2414f6.png)

[2015-05-12 20:38] stevevance opened #56 "Why aren't the protected and buffered bike lanes appearing?"
The buffered and protected bike lanes are appearing as very thin lines in the same color as the MapQuest roads behind them. I looked at the code and it appears to be correct, but @rguico rewrote it from the original styling function so I am probably missing something.

[2015-05-12 21:32] stevevance opened #57 "How to interpret the findings of how many people live within 1/2 mile of a bike lane"
Steven will insert his initial results here.

[2015-05-12 21:42] stevevance opened #58 "Fix overflow problem in Access Index list"
@guillermokrh Can you fix these two things in the Access Index list:
* Allow scrolling
* Put the "Clear Indices" button in its own row, without any other objects behind it
![screenshot 2015-05-12 16 41 28](https://cloud.githubusercontent.com/assets/1330459/7599222/e178001a-f8c5-11e4-8786-ab7213ca07fa.png)

[2015-05-13 00:02] stevevance commented on #27
We've done item 1. Item 2 isn't that important.

[2015-05-13 00:02] #27 closed

[2015-05-13 00:16] easherma commented on #57
Some example screenshots for context in this discussion:
This map shows the density of blacks (darker blue is denser) and protected bike lanes in yellow and buffered bike lanes in pink. Notice the gaps among the buffered and protected bike lanes. These gaps in coverage could be defined as connectivity deficiencies.

![bikequity](https://cloud.githubusercontent.com/assets/10539855/7601278/aff8199e-

[2015-06-03 01:44] stevevance commented on #58
This was fixed, right?  If so, @guillermokrh, close this issue.

[2015-06-10 03:29] derekeder opened #67 "upload and link to presentation slides?"
It would be great to be able to link to the presentation slides you used tonight. Publish it to this site somewhere?

[2015-06-10 20:15] derekeder opened #68 "move repo to chihacknight?"
Now that we have an org for Chi Hack Night, feel free to move this repo over there if you'd like. @stevevance I believe you have the admin privileges.

[2015-06-12 01:45] stevevance commented on #68
@zorostang Can you move this over to the ChiHackNight?

[2015-06-16 22:55] stevevance opened #69 "Fix the About Us section"
Also remove the "Contact Us" form